.bg-image {
    background-image: url('imagens/consolesantigos.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    color: #ffffff; 
    height: 100vh; 
    width: 100%; 
}

body {
    padding-top: 56px; 
}

.navbar {
    background-color: #343a40; 
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff; 
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #28a745; 
}

/* Botões */
.btn-primary {
    background-color: #4e247e; 
    border-color: #416a96; 
}

.btn-primary:hover {
    background-color: #050791; 
    border-color: #6010e0; 
}

.btn-secondary {
    background-color: #6c757d; 
    border-color: #6c757d; 
}

.btn-secondary:hover {
    background-color: #545b62; 
    border-color: #545b62; 
}

.btn-danger {
    background-color: #dc3545; 
    border-color: #dc3545; 
}

.btn-danger:hover {
    background-color: #bd2130; 
    border-color: #bd2130; 
}
.btn-warning{
    background-color: #fa0019;
    border-color: #dc3545;
    color: #ffffff;
}
.btn-warning:hover {
    background-color: #bd2130; 
    border-color: #bd2130; 
}
.nav-link{
    color: #1b1c75;
}

.form-label {
    color: #fdfdfd; 
}

.form-control {
    border-radius: 0; 
}


.mt-5 {
    margin-top: 3rem !important; 
}

.mt-4 {
    margin-top: 1.5rem !important; 
}

.mt-3 {
    margin-top: 1rem !important; 
}

/* Adaptação para a barra de navegação fixa no topo */
@media (min-width: 992px) {
    body {
        padding-top: 68px;
    }
}

/* Adaptação do tamanho da fonte para telas menores */
@media (max-width: 575.98px) {
    h1 {
        font-size: 1.5rem;
    }
}

